.container-table {
  height: 100%;
  width: 90%;

  & .header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 1.25rem;

    & h2 {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.25rem;

      & span {
        font-size: 0.8rem;
        color: #656565;
      }
    }

    & button {
      border: none;
      background: #141414;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      font-size: 0.85rem;
      letter-spacing: 0.7px;
      color: #e1e1e1;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: transparent;
        outline: 2px solid #141414;
        color: #141414;
        cursor: pointer;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    &>thead,
    th {
      color: #585858;
      border-bottom: 1px solid #f1f1f1;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    &>tbody {
      display: block;
      max-height: 400px;
      overflow-y: auto;
      width: 100%;
    }

    & tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    & th,
    td {
      text-align: left;
      padding: 1rem;
    }

    & tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}